.thank-you-container {
    padding: 1rem;
}

.thank-you-content {
    padding-left: 1rem;
    padding-right: 1rem;
}

.order-complete-title {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.order-complete-message {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.order-delivery-area {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.receiver-info-area {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.order-pay-info {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.thank-you-info-label {
    width: 10rem;
}