<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<!-- Sidebar -->
<ul th:fragment="sidebar"
        class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="../index">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">초간단 이커머스</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item" th:classappend="${menuId == null ? 'active' : ''}">
        <a class="nav-link" href="/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Nav Item - 상품관리 -->
    <li class="nav-item" th:classappend="${menuId == 'products' ? 'active' : ''}">
        <a class="nav-link" href="/products/">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>상품관리</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Nav Item - 주문관리 -->
    <li class="nav-item" th:classappend="${menuId == 'orders' ? 'active' : ''}">
        <a class="nav-link" href="/orders/">
            <i class="fas fa-fw fa-shopping-bag"></i>
            <span>주문관리</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Nav Item - 고객관리 -->
    <li class="nav-item" th:classappend="${menuId == 'customers' ? 'active' : ''}">
        <a class="nav-link" href="/customers/">
            <i class="fas fa-fw fa-regular fa-users"></i>
            <span>고객관리</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->
</html>