<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>주문목록</title>

  <!-- Custom fonts for this template -->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
          href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/css/sb-admin-2.min.css" rel="stylesheet">
  <link href="/css/login/login.css" rel="stylesheet">

  <!-- Custom styles for this page -->
  <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">
<!-- 컨텐츠 영역 -->
<body>
  <div class="container-md">
    <!-- Content Area -->
    <div class="container">
      <div class="row category-product-list-area">

        <!-- 왼쪽 여백 -->
        <div class="col"></div>

        <!-- 가운데 컨텐츠 영역 -->
        <div class="col-8 login-form-area">
          <h1>로그인</h1>
          <form method="post" action="/users/login">
            <div class="mb-3">
              <label for="inputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="inputEmail1" name="email" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="inputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="inputPassword1" name="password">
            </div>
            <div class="mb-3">
              <p th:if="${loginFailure}" class="login-error" th:text="${loginFailureMessage}"></p>
            </div>
            <button type="submit" class="btn btn-primary">로그인</button>
            <button type="button" class="btn btn-secondary btn-signup">회원 가입</button>
          </form>
        </div>

        <div class="col"></div>

      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/js/sb-admin-2.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="/js/login/login.js"></script>
</body>
</html>